.compe{
  margin: 8px;
}
.card{
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.mytitle{

  border-bottom: solid gray 1px;
  margin-bottom: 8px;
}
.compeForm{margin-top: 8px;}
button{margin-left: 8px;}
