<div class="admin">
    <div class="pageloader"><span class="title">Pageloader</span></div>


<div class="container">
  <div class="box">
    <p class="subtitle is-3">Create new Campaign</p>
    <p class="subtitle is-5">You are connected to: {{factoryAddress}} | factory Address</p>
      <form [formGroup]="campaignForm" (submit)=" newCampaign()">
          <div class="field has-addons">
              <p class="control"  >
                <input class="input" formControlName="prize" type="text" placeholder="Prize Money">
              </p>
              <p class="control">
                <a class="button is-static">
                 FFC coins
                </a>
              </p>
            </div>
              <div class="field is-grouped">
                <div class="control">
       <button class="button"
      [ngClass]="{'is-primary': showWarning, 'is-danger': !showWarning}"
      [disabled]=" campaignForm.invalid"
    (click)="newCampaign()"> New Campaign</button>
    </div>
    </div>

      </form>

  </div>

  <div class="buttons">

<button class="button" (click)=" connectTRPC()">Connect to Test</button>
<button class="button" (click)="instance()">create Instance</button>
<button class="button " (click)="getLeagues()">get leagues</button>
  </div>
  <div class="content">
  <!-- <a class="button is-loading" *ngIf="!leagues">Loading</a> -->
    <div class="card leagues" *ngIf="leagues">
    <div class="columns">
        <div class="column is-half">
          <div class="card">
          <div class="leagues buttons" *ngFor='let l of leagues'>
            <button class="button is-normal" (click)="selectLeague(l)">{{l}}</button>
          </div>
          <div class="card">
            <div class="league-details">

            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="modal"
[ngClass]="{'is-active': showWarning, 'is-inactive': !showWarning}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Please Install/ Log into Metamask</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
       <p>Metamask is an online wallet used to interact with DAPPS</p>
      </section>
      <footer class="modal-card-foot">
      <button class="button is-danger" (click)="cancel()">Cancel</button>
      </footer>
    </div>
  </div> -->
</div>
